<div class="container p-5">
    <div class="title">
      <h2 class="fw-bold text-success">Add New Plan</h2>
    </div>
    <form [formGroup]="planForm" (ngSubmit)="submitPlan()">
      <div class="row">
        <div class="col-lg-6">
          <div class="mt-3">
            <label>Name (English)</label>
            <input type="text" class="form-control shadow-none" formControlName="NameEN"
              placeholder="Enter name in English" />
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="mt-3">
            <label>Name (Arabic)</label>
            <input type="text" class="form-control shadow-none" formControlName="NameAR"
              placeholder="Enter name in Arabic" />
          </div>
        </div>
      </div>
  
      <div class="mt-3">
        <label>URL</label>
        <input type="text" class="form-control shadow-none" formControlName="Url" placeholder="Enter URL" />
      </div>
  
      <div class="mt-3">
        <label>Price</label>
        <input type="number" class="form-control shadow-none" formControlName="Price" placeholder="Enter price" />
      </div>
  
      <div class="mt-3">
        <label class="mx-2">Is Best Plan?</label>
        <input type="checkbox" class="form-check-input" formControlName="IsBest" />
      </div>
  
      <div class="mt-3">
        <label>Hosting Properties</label>
        <div formArrayName="HostingProperties">
          <div *ngFor="let property of hostingProperties.controls; let i = index" [formGroupName]="i" class="mb-2">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <input type="text" class="form-control shadow-none" formControlName="titleEN"
                  placeholder="Enter Title in English" />
              </div>
              <div class="col-lg-5">
                <input type="text" class="form-control shadow-none" formControlName="titleAR"
                  placeholder="Enter Title in Arabic" />
              </div>
              <div class="col-lg-2">
                <button *ngIf="i > 0" type="button" class="btn btn-danger btn-sm" (click)="removeProperty(i)">Remove
                  Step</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary mt-2 shadow-none" (click)="addProperty()">+ Add Property</button>
      </div>
  
      <div class="col-lg-12 text-center mt-3">
        <button type="submit" class="btn-mogasoft-success shadow-none" [disabled]="planForm.invalid">Submit</button>
        <button type="reset" class="btn-mogasoft-danger ms-3 shadow-none">Reset</button>
      </div>
    </form>
    <hr>
    <div class="row mt-2">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let plan of plans">
        <div class="card text-white p-4">
          <div class="top">
            <button class="btn m-0 p-0" routerLink="/admin/plans/plan-edit/{{plan.id}}" aria-label="Edit Plan">
              <i class="fa-solid fa-pen bg-warning"></i>
            </button>
            <h3 class="fw-bold mb-5">{{plan.nameEN}}</h3>
            <p>Normally <span>${{plan.afterDiscount}}</span> Save 35%</p>
            <button class="btn btn-link m-0 p-0" (click)="deletePlan(plan.id)" aria-label="Delete Plan">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          <ul class="list-unstyled text-start" *ngIf="plan?.hostingProperties?.length > 0">
            <li *ngFor="let property of plan?.hostingProperties">
              <i class="fa-solid fs-5 fa-square-check"></i> {{ property?.titleEN }}
              <hr>
            </li>
          </ul>
          <div class="text-start">
            <p class="text-pink">${{plan.price}} / Mo</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>