.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--primaryDarker), var(--secondaryDarker));
    text-align: center;
    color: white;
  }
  
  
  h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primaryLighter);
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      background-color: var(--primaryDarker);
    }
  }