<nav class="navbar navbar-expand-lg ">
    <div class="container p-0">
      <a class="navbar-brand" routerLinkActive="activ" routerLink="/home">
        <img src="assets/vendors/imgs/logo.png" class="img-fluid" width="127" alt="">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered fs-2"></i>
      </button>
  
      <div class="collapse navbar-collapse text-lg-start text-center" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activ" routerLink="/home">{{ "home" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activ" routerLink="/about-us">{{ "about" | translate }}</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="activ" role="button" data-bs-toggle="dropdown">
              {{ "services" | translate }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
  
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle sub-menu-toggle">
                  {{ "software" | translate }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark sub-menu">
                  <li><a class="dropdown-item" routerLink="/services/web-development">{{ "web" | translate }}</a></li>
                  <li><a class="dropdown-item" routerLink="/services/mobile-development">{{ "mobile" | translate }}</a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/hosting">{{ "hosting" | translate }}</a></li>
                  <li><a class="dropdown-item" routerLink="/services/digital-marketing">{{ "digital" | translate }}</a>
                  </li>
                </ul>
              </li>
              <hr class="dropdown-divider">
  
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle sub-menu-toggle">
                  {{ "hardware" | translate }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark sub-menu">
                  <li><a class="dropdown-item" routerLink="/services/surveillance-systems">{{ "cameras" | translate }}</a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/services/computers">{{ "computers" | translate }}</a></li>
                  <li><a class="dropdown-item" routerLink="/services/copiers-plotters">{{ "copiers" | translate }}</a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/services/network">{{ "network" | translate }}</a></li>
                  <li><a class="dropdown-item" routerLink="/services/fire-fighing-alarm">{{ "fire-fighing" | translate
                      }}</a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/services/queue-management">{{ "queue-serve" | translate }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activ" routerLink="/blogs">{{ "blogs" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activ" routerLink="/contact">{{ "contact" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activ" routerLink="/portfolio">{{ "portfolio" | translate }}</a>
          </li>
        </ul>
  
        <div class="langs d-flex justify-content-center align-items-center flex-wrap gap-3">
          <div class="lang" [ngClass]="{'active-lang': currentLanguage === 'en'}" (click)="switchLanguage('en')">EN</div>
          <div class="lang" [ngClass]="{'active-lang': currentLanguage === 'ar'}" (click)="switchLanguage('ar')">AR</div>
        </div>
      </div>
  
    </div>
  </nav>