.aside-bar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: var(--dark2);
  
    ul {
      margin: 0;
      padding: 0;
    }
  
  }
  
  /* .activ {
    background-color: white;
  
    a {
      padding-left: 10px !important;
      color: var(--secondaryColor);
      font-weight: bold;
  
    }
  
    i {
      color: var(--secondaryColor);
  
      padding-left: 10px !important;
    }
  }
  
  li {
    list-style: none;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
  
    a {
      text-decoration: none;
      color: white;
    }
  
    i {
      color: white;
      padding: 10px;
      border-radius: 100%;
    }
  } */
  
  .content {
    padding: 0;
  }
  
  @media (max-width: 992px) {
    .content {
      margin-left: 10px !important;
    }
  
    .activ {
      background-color: transparent !important;
  
      a {
        color: white;
      }
    }
  }
  
  .mob {
    width: 100% !important;
    background: var(--dark2);
    overflow: hidden !important;
  
    li {
      padding: 5px;
  
    }
  }






  
.activ {
  position: relative;
  background-color: #090909;
  border-radius: 27px;

  a {
    color: var(--secondaryColor);
    font-weight: bold;
  }

  i {
    color: var(--secondaryColor);
  }
}

ul>.activ::before,
ul>.activ::after {
  content: "";
  position: absolute;
}

ul>.activ::before {
  top: -80px;
  right: -19px;
  height: 80px;
  width: 53px;
  border-bottom-right-radius: 100%;
  box-shadow: 0 40px 0 0 #090909;
  transform: rotateZ(360deg);
}

ul>.activ::after {
  top: 44px;
  right: -19px;
  height: 80px;
  width: 53px;
  border-top-right-radius: 100%;
  box-shadow: 0 -40px 0 0 #090909;
  transform: rotateZ(360deg);
}

li {
  list-style: none;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: white;
  }

  i {
    color: white;
    padding: 10px;
    border-radius: 100%;
  }
}
