<footer class="footer-section pt-5 pb-2">
  <div class="container">
    <div class="row g-4">

      <div class="col-lg-3">
        <div class="shadow"></div>
        <img src="../../../assets/vendors/imgs/logo.png" alt="MogaSoft Logo" class="footer-logo mb-3">
        <p class="text-white">
          {{"empowering" | translate}}
        </p>

        <form class="newsletter-form d-flex">
          <input type="email" class="form-control shadow-none me-2" placeholder="Enter Your Email">
          <!-- <button type="submit" class="btn subscribe-btn">Subscribe</button> -->
        </form>

        <div class="social-icons mt-3">
          <a href="https://www.facebook.com/mogasoftpage" class="me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/company/mogasoft" class="me-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="me-3"><i class="fab fa-whatsapp"></i></a>
          <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
        </div>

        <p class="locations mt-3 text-white">
          {{"location" | translate}} <br>
          {{"location2" | translate}}
        </p>
      </div>

      <div class="col-lg-3">
        <h5 class="footer-title">{{"softwares" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/software/web">{{"web" | translate}}</li>
          <li routerLink="/software/mobile">{{"mobile" | translate}}</li>
          <li routerLink="/software/hosting">{{"hosting" | translate}}</li>
          <li routerLink="/software/digital-markting">{{"digital" | translate}}</li>
        </ul>

        <h5 class="footer-title mt-4">{{"hardwares" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/hardware/surveillance-cameras">{{"cameras" | translate}}</li>
          <li routerLink="/hardware/computers">{{"computers" | translate}}</li>
          <li routerLink="/hardware/network">{{"network" | translate}}</li>
          <li routerLink="/hardware/fire-fighing">{{"fire-fighing" | translate}}</li>
          <li routerLink="/hardware/copiers">{{"copiers" | translate}}</li>
          <li routerLink="/hardware/queue-serve">{{"queue-serve" | translate}}</li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h5 class="footer-title">{{"INDUSTRIES" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li>{{"ecommerce" | translate}}</li>
          <li>{{"realEstete" | translate}}</li>
          <li>{{"ERP" | translate}}</li>
          <li>{{"CRM" | translate}}</li>
        </ul>
      </div>

      <div class="col-lg-3">
        <div class="shadow1"></div>

        <h5 class="footer-title">{{"who" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/about">{{"overview" | translate}}</li>
          <li routerLink="/contact">{{"contact" | translate}}</li>
        </ul>

        <h5 class="footer-title mt-4">{{"INSIGHTS" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/blogs">{{"blogs" | translate}}</li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom text-center mt-4 text-white">
      {{"copyright" | translate}}
    </div>

  </div>
</footer>