<footer class="footer-section pt-5 pb-2">
    <div class="container">
      <div class="row g-4">
  
        <div class="col-lg-3">
          <div class="shadow"></div>
          <img src="assets/vendors/imgs/logo.png" alt="MogaSoft Logo" class="footer-logo mb-3">
          <p class="text-white">
            {{"empowering" | translate}}
          </p>
  
          <!-- <form class="newsletter-form d-flex">
            <input type="email" class="form-control shadow-none me-2" placeholder="Enter Your Email">
            <button type="submit" class="btn subscribe-btn">Subscribe</button>
          </form> -->
  
          <div class="social-icons d-flex gap-3 mt-3">
            <a href="https://www.facebook.com/mogasoftpage" target="_blank" class=""><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/mogasoft" target="_blank" class=""><i
                class="fab fa-linkedin-in"></i></a>
            <a href="https://wa.me/201551114499" target="_blank" class="">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/mogasoft.page" target="_blank" class=""><i
                class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@mogasoftpage" target="_blank" class=""><i class="fab fa-tiktok"></i></a>
          </div>
  
          <p class="locations mt-3 text-white">
            {{"location" | translate}}
          </p>
        </div>
  
        <div class="col-lg-3">
          <h5 class="footer-title">{{"softwares" | translate}}</h5>
          <ul class="ltext-white">
            <li><a class="text-reset text-decoration-none" routerLink="/services/web-development">{{ "web" | translate
                }}</a></li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/mobile">{{ "mobile" | translate }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/hosting">{{ "hosting" | translate }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/digital-marketing">{{ "digital" |
                translate }}</a>
            </li>
          </ul>
  
          <h5 class="footer-title mt-4">{{"hardwares" | translate}}</h5>
          <ul class="ltext-white">
            <li><a class="text-reset text-decoration-none" routerLink="/services/surveillance">{{ "cameras" | translate
                }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/computers">{{ "computers" | translate
                }}</a></li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/copiers-plotters">{{ "copiers" |
                translate }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/network">{{ "network" | translate }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/fire-fighing-alarm">{{ "fire-fighing" |
                translate
                }}</a>
            </li>
            <li><a class="text-reset text-decoration-none" routerLink="/services/queue-management">{{ "queue-serve" |
                translate }}</a>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3">
          <h5 class="footer-title">{{"INDUSTRIES" | translate}}</h5>
          <ul class="ltext-white">
            <li>{{"ecommerce" | translate}}</li>
            <li>{{"realEstete" | translate}}</li>
            <li>{{"ERP" | translate}}</li>
            <li>{{"CRM" | translate}}</li>
            <li>{{"HMS" | translate}}</li>
          </ul>
        </div>
  
        <div class="col-lg-3">
          <div class="shadow1"></div>
  
          <h5 class="footer-title">{{"who" | translate}}</h5>
          <ul class="ltext-white">
            <li routerLink="/about">{{"overview" | translate}}</li>
            <li routerLink="/contact">{{"contact" | translate}}</li>
          </ul>
  
          <h5 class="footer-title mt-4">{{"INSIGHTS" | translate}}</h5>
          <ul class="ltext-white">
            <li routerLink="/blogs">{{"blogs" | translate}}</li>
          </ul>
        </div>
  
      </div>
  
      <div class="footer-bottom text-center mt-4 text-white">
        {{"copyright" | translate}}
        <div class="links">
          <a class="mx-1" routerLink="/privacy-policy">Privacy Policy</a>
          <a class="mx-1" routerLink="/terms">Terms & Conditions</a>
        </div>
      </div>
  
    </div>
  </footer>
  