<footer class="footer-section pt-5 pb-2">
  <div class="container">
    <div class="row g-4">

      <div class="col-lg-3">
        <div class="shadow"></div>
        <img src="../../../assets/vendors/imgs/logo.png" alt="MogaSoft Logo" class="footer-logo mb-3">
        <p class="text-white">
          Empowering Businesses with Integrated Software & Hardware Solutions
        </p>

        <form class="newsletter-form d-flex">
          <input type="email" class="form-control shadow-none me-2" placeholder="Enter Your Email">
          <!-- <button type="submit" class="btn subscribe-btn">Subscribe</button> -->
        </form>

        <div class="social-icons mt-3">
          <a href="https://www.facebook.com/mogasoftpage" class="me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/company/mogasoft" class="me-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="me-3"><i class="fab fa-whatsapp"></i></a>
          <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
        </div>

        <p class="locations mt-3 text-white">
          Cairo | Adly Mansour Axis | Medo City <br>
          Gesr AlSuez | Qebaa
        </p>
      </div>

      <div class="col-lg-3">
        <h5 class="footer-title">{{"softwares" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/software/web">{{"web" | translate}}</li>
          <li routerLink="/software/mobile">{{"mobile" | translate}}</li>
          <li routerLink="/software/hosting">{{"hosting" | translate}}</li>
          <li routerLink="/software/digital-markting">{{"digital" | translate}}</li>
        </ul>

        <h5 class="footer-title mt-4">{{"hardwares" | translate}}</h5>
        <ul class="list-unstyled text-white">
          <li routerLink="/hardware/surveillance-cameras">{{"cameras" | translate}}</li>
          <li routerLink="/hardware/computers">{{"computers" | translate}}</li>
          <li routerLink="/hardware/network">{{"network" | translate}}</li>
          <li routerLink="/hardware/fire-fighing">{{"fire-fighing" | translate}}</li>
          <li routerLink="/hardware/copiers">{{"copiers" | translate}}</li>
          <li routerLink="/hardware/queue-serve">{{"queue-serve" | translate}}</li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h5 class="footer-title">INDUSTRIES</h5>
        <ul class="list-unstyled text-white">
          <li>Healthcare</li>
          <li>Finance & Banking</li>
          <li>Education</li>
          <li>Retail & E-commerce</li>
          <li>Public Services</li>
          <li>E-learning</li>
          <li>Government Services</li>
          <li>Telecommunications</li>
        </ul>
      </div>

      <div class="col-lg-3">
        <div class="shadow1"></div>

        <h5 class="footer-title">WHO WE ARE</h5>
        <ul class="list-unstyled text-white">
          <li>Company Overview</li>
          <li>Contact Us</li>
        </ul>

        <h5 class="footer-title mt-4">INSIGHTS</h5>
        <ul class="list-unstyled text-white">
          <li>Blogs</li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom text-center mt-4 text-white">
      © 2025 MogaSoft Integrated Solutions. All rights reserved
    </div>

  </div>
</footer>